<!DOCTYPE html>
<head lang="en">
<head>
    <meta charset="UTF-8">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="background-color: #2e323b;">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand" style="text-shadow: 1px 1px; font-size: 29px;">Font Size & Color Preview</h1>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/" style="color: white; text-decoration: none;"><b>Home</b></a>
        <a class="nav-link active" href="/about" style="color: white; text-decoration: none;"><b>About</b></a>
      </nav>
    </div>
  </header>
        <hr>
    </div>


</body>
</html>
