
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The terms of service for the website Asteroid Collision Simulator.">
    <title>Asteroid Collision Simulator - Terms of Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include '_navbar.html' %}
<div class="container" style="margin-top: 2em;">
<div class="jumbotron">
  <h1 class="display-4">Terms of Service</h1>
  <p class="lead">By using the Asteroid Collision Simulator you agree to our terms of service!</p>
  <hr class="my-4">
  <p style="font-size: 13px;"> Asteroid Collision Simulator is not responsible for the actions of users that have visited this website. This simulation was created for educational purposes only and does not accurately reflect the results of real asteroid collisions. The data that is shown on this website should not be used by you and is not to be taken seriously. You acknowledge the fact that information on this website may be incorrect and that Asteroid Collision Simulator is not responsible for any wrongdoing. Also, by using this website you agree that information or graphics may be <b>exagerated or understated </b> to increase user experience and joy. Thank you.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button" style="background-color: red;">Simulate a Collision!</a>
  </p>
</div>
    </div>
</body>
</html>
